# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.xml

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Data #

*.fastq
*.fastq.gz
*.fq

# Whole Directories #
/Data/Hash_Results
/Programs

Data/Process_RadTags_Output/Opt1_output.txt
*.xlsx
*.bai
*.bam
*.sam
*.list
*.bt2
*.amb
*.ann
*.bwt
Data/Trimmomatic_Out/GATKRefTrim.pac
Data/Trimmomatic_Out/GATKRefTrim.sa
Data/Trimmomatic_Out/233_Amplicons.fa.fai
*.dict
*.sai
